<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.geofencelocation">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDNTqz7HTCCfeCujVIpmbiELQLiqcHsYVQ" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.admin.geofencelocation.SensorService"
            android:enabled="true" >
        </service>


        <receiver
            android:name=".GeofenceReciever"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="com.aol.android.geofence.ACTION_RECEIVE_GEOFENCE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.example.admin.geofencelocation.SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="uk.ac.shef.oak.ActivityRecognition.RestartSensor"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>